{% extends "task/main.html" %}
{% block content %}
<form class ="container border p-4 w-50 mt-5 bg-dark text-white" method ="POST" action ="">
    {% csrf_token %}
    <label class="form-label" for ="username">username: </label>
    <input class="form-control" type="text" name = "username" placeholder ="username.."><br><br>
    <label class="form-label" for ="password">password: </label>
    <input class="form-control" type="password" name = "password" placeholder ="password.."><br><br>
    <input type="submit" class = "btn border-dark col-12 btn-warning" value ="submit">
    {% if status %}
    <br><small style="color:red "> {{status}}</small><br>
    {% endif %}
    <small>havent signed up yet..!</small>
    <a href ={% url "register" %} class = "btn border-dark col-12 btn-warning">Sign Up</a>
</form>
{% endblock content %}